.u-section-115 {
    background-image: none;
  }
  
  .u-section-115 .u-sheet-1 {
    min-height: 685px;
  }
  
  .u-section-115 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 0;
  }
  
  .u-section-115 .u-layout-cell-1 {
    min-height: 657px;
  }
  
  .u-section-115 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-115 .u-image-1 {
    width: 574px;
    height: 111px;
    margin: 222px auto 0 0;
  }
  
  .u-section-115 .u-layout-cell-2 {
    min-height: 657px;
  }
  
  .u-section-115 .u-container-layout-2 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    padding: 21px 0;
  }
  
  .u-section-115 .u-text-1 {
    margin: 14px 18px 0 0;
  }
  
  .u-section-115 .u-text-2 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 125px 40px 0;
  }
  
  .u-section-115 .u-btn-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: 450px auto 0 54px;
    padding: 18px 108px 19px 107px;
  }
  
  .u-section-115 .u-form-1 {
    height: 372px;
    margin: -518px 57px 146px 666px;
  }
  
  .u-section-115 .u-btn-2 {
    letter-spacing: 1px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    padding: 14px 0 15px;
  }
  
  @media (max-width: 1199px) {
    .u-section-115 .u-sheet-1 {
      min-height: 570px;
    }
  
    .u-section-115 .u-layout-cell-1 {
      min-height: 542px;
    }
  
    .u-section-115 .u-image-1 {
      width: 517px;
      height: 100px;
    }
  
    .u-section-115 .u-layout-cell-2 {
      min-height: 542px;
    }
  
    .u-section-115 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-115 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-115 .u-btn-1 {
      margin-left: 0;
    }
  
    .u-section-115 .u-form-1 {
      margin-right: 0;
      margin-left: 523px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-115 .u-sheet-1 {
      min-height: 443px;
    }
  
    .u-section-115 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-115 .u-container-layout-1 {
      padding-top: 40px;
    }
  
    .u-section-115 .u-image-1 {
      width: 396px;
      height: 77px;
    }
  
    .u-section-115 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-115 .u-form-1 {
      margin-left: 303px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-115 .u-sheet-1 {
      min-height: 694px;
    }
  
    .u-section-115 .u-container-layout-1 {
      padding-top: 30px;
    }
  
    .u-section-115 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-115 .u-form-1 {
      margin-left: 123px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-115 .u-sheet-1 {
      min-height: 484px;
    }
  
    .u-section-115 .u-image-1 {
      width: 340px;
      height: 66px;
    }
  
    .u-section-115 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-115 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .u-section-115 .u-form-1 {
      margin-left: 0;
    }
  }
  
  .u-block-4307-62:not([data-block-selected]):not([data-cell-selected]),
  .u-block-4307-62:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-4307-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-4307-62:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-container-layout.hover .u-block-4307-62:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }