.u-section-111 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-111 {
  background-color: rgb(250, 250, 250)
}
.u-section-111 .u-list-1 {
  width: 984px;
  margin: 19px auto 0 78px;
}

.u-section-111 .u-repeater-1 {
  min-height: 65px;
  grid-template-columns: calc(25% - 119.25px) calc(25% - 119.25px) calc(25% - 119.25px) calc(25% - 119.25px);
  grid-gap: 159px 159px;
}

.u-section-111 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-111 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  background-image: none;
  margin: 0 -14px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-111 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-111 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  background-image: none;
  margin: 0 -14px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-111 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-111 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  background-image: none;
  margin: 0 -14px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-111 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-111 .u-btn-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  background-image: none;
  margin: 0 -14px 0 auto;
  padding: 10px 43px 10px 42px;
}

.u-section-111 .u-group-1 {
  width: 884px;
  min-height: 557px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 51px auto 0 -34px;
  margin-left: -100px;
  background-color: white;
}

.u-section-111 .u-container-layout-5 {
  padding: 17px;
}

.u-section-111 .u-group-2 {
  min-height: 87px;
  height: auto;
  margin-top: -1px;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-111 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-111 .u-group-3 {
  width: 45px;
  height: 45px;
  margin: 19px auto 0;
}

.u-section-111 .u-container-layout-7 {
  padding: 30px;
}

.u-section-111 .u-text-1 {
  margin: 0 auto;
}

.u-section-111 .u-btn-5 {
  background-image: none;
  margin: -43px 64px 0 auto;
}

.u-section-111 .u-text-2 {
  font-weight: 700;
  margin: -40px 511px 0 19px;
}

.u-section-111 .u-group-4 {
  min-height: 87px;
  height: auto;
  background-image: none;
  margin-top: 52px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-111 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-111 .u-group-5 {
  width: 45px;
  height: 45px;
  margin: 19px auto 0;
}

.u-section-111 .u-container-layout-9 {
  padding: 30px;
}

.u-section-111 .u-text-3 {
  margin: 0 auto;
}

.u-section-111 .u-btn-6 {
  background-image: none;
  margin: -43px 64px 0 auto;
}

.u-section-111 .u-text-4 {
  margin: -40px 606px 0 19px;
}

.u-section-111 .u-group-6 {
  min-height: 87px;
  height: auto;
  background-image: none;
  margin-top: 52px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-111 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-111 .u-group-7 {
  width: 45px;
  height: 45px;
  margin: 19px auto 0;
}

.u-section-111 .u-container-layout-11 {
  padding: 30px;
}

.u-section-111 .u-text-5 {
  margin: 0 auto;
}

.u-section-111 .u-btn-7 {
  background-image: none;
  margin: -43px 64px 0 auto;
}

.u-section-111 .u-text-6 {
  margin: -40px 606px 0 19px;
}

.u-section-111 .u-group-8 {
  min-height: 87px;
  height: auto;
  background-image: none;
  margin-top: 52px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-111 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-111 .u-group-9 {
  width: 45px;
  height: 45px;
  margin: 19px auto 0;
}

.u-section-111 .u-container-layout-13 {
  padding: 30px;
}

.u-section-111 .u-text-7 {
  margin: 0 auto;
}

.u-section-111 .u-btn-8 {
  background-image: none;
  margin: -43px 64px 0 auto;
}

.u-section-111 .u-text-8 {
  margin: -40px 606px 0 19px;
}

.u-section-111 .u-group-10 {
  width: 350px;
  min-height: 554px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -556px -41px 0 auto;
  margin-right: -100px;
  background-color: white;
}

.u-section-111 .u-container-layout-14 {
  padding: 30px;
}

.u-section-111 .u-icon-1 {
  width: 64px;
  height: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 0;
  padding: 10px;
}

.u-section-111 .u-btn-9 {
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 30px auto 0;
  padding: 9px 13px 11px;
}

.u-section-111 .u-group-11 {
  width: 880px;
  min-height: 565px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 66px auto 0 -32px;
  margin-left: -100px;
}

.u-section-111 .u-container-layout-15 {
  padding: 0;
}

.u-section-111 .u-btn-10 {
  font-size: 1.5rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -1px -1px 0;
  padding: 19px 390px 19px 388px;
}

.u-section-111 .u-group-12 {
  width: 350px;
  min-height: 566px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -567px -41px 39px auto;
  margin-right: -100px;
  background-color: white;
}

.u-section-111 .u-container-layout-16 {
  padding: 20px 30px;
}

.u-section-111 .u-icon-2 {
  width: 64px;
  height: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 27px auto 0;
}

.u-section-111 .u-btn-11 {
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 52px auto 0;
  padding: 9px 27px 11px 25px;
}

.u-section-111 .u-btn-12 {
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 46px auto 0 118px;
}

.u-section-111 .u-text-9 {
  font-weight: 700;
  margin: -42px auto 0 8px;
}

.u-section-111 .u-btn-13 {
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 47px auto 0 118px;
}

.u-section-111 .u-text-10 {
  font-weight: 700;
  margin: -40px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-111 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-111 .u-repeater-1 {
    min-height: 59px;
  }

  .u-section-111 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-111 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-111 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-111 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-111 .u-group-1 {
    height: auto;
  }

  .u-section-111 .u-group-2 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-111 .u-group-3 {
    height: auto;
  }

  .u-section-111 .u-btn-5 {
    margin-top: -45px;
  }

  .u-section-111 .u-group-4 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-111 .u-group-5 {
    height: auto;
  }

  .u-section-111 .u-btn-6 {
    margin-top: -45px;
  }

  .u-section-111 .u-group-6 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-111 .u-group-7 {
    height: auto;
  }

  .u-section-111 .u-btn-7 {
    margin-top: -45px;
  }

  .u-section-111 .u-group-8 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-111 .u-group-9 {
    height: auto;
  }

  .u-section-111 .u-btn-8 {
    margin-top: -45px;
  }

  .u-section-111 .u-group-10 {
    height: auto;
  }

  .u-section-111 .u-group-11 {
    height: auto;
  }

  .u-section-111 .u-group-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-111 .u-list-1 {
    width: 720px;
  }

  .u-section-111 .u-repeater-1 {
    min-height: 445px;
    grid-template-columns: calc(50% - 79.5px) calc(50% - 79.5px);
  }

  .u-section-111 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-111 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-111 .u-text-2 {
    margin-right: 366px;
    margin-left: 0;
  }

  .u-section-111 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-111 .u-text-4 {
    margin-right: 461px;
    margin-left: 0;
  }

  .u-section-111 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-111 .u-text-6 {
    margin-right: 461px;
    margin-left: 0;
  }

  .u-section-111 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-111 .u-text-8 {
    margin-right: 461px;
    margin-left: 0;
  }

  .u-section-111 .u-group-11 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-111 .u-btn-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-111 .u-list-1 {
    width: 540px;
  }

  .u-section-111 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-111 .u-group-1 {
    width: 540px;
  }

  .u-section-111 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-text-2 {
    margin-right: 200px;
  }

  .u-section-111 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-text-4 {
    margin-right: 295px;
  }

  .u-section-111 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-text-6 {
    margin-right: 295px;
  }

  .u-section-111 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-text-8 {
    margin-right: 295px;
  }

  .u-section-111 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-group-11 {
    width: 540px;
  }

  .u-section-111 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-111 .u-btn-11 {
    margin-left: 27px;
  }

  .u-section-111 .u-btn-12 {
    margin-left: 124px;
  }

  .u-section-111 .u-text-9 {
    margin-left: 14px;
  }

  .u-section-111 .u-btn-13 {
    margin-left: 124px;
  }

  .u-section-111 .u-text-10 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-111 .u-list-1 {
    width: 340px;
  }

  .u-section-111 .u-group-1 {
    width: 340px;
  }

  .u-section-111 .u-group-2 {
    margin-top: -29px;
  }

  .u-section-111 .u-btn-5 {
    margin-top: -53px;
  }

  .u-section-111 .u-text-2 {
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-111 .u-group-4 {
    margin-top: -29px;
  }

  .u-section-111 .u-btn-6 {
    margin-top: -53px;
  }

  .u-section-111 .u-text-4 {
    margin-top: -32px;
    margin-right: 95px;
  }

  .u-section-111 .u-group-6 {
    margin-top: -29px;
  }

  .u-section-111 .u-btn-7 {
    margin-top: -53px;
  }

  .u-section-111 .u-text-6 {
    margin-top: -32px;
    margin-right: 95px;
  }

  .u-section-111 .u-group-8 {
    margin-top: -29px;
  }

  .u-section-111 .u-btn-8 {
    margin-top: -53px;
  }

  .u-section-111 .u-text-8 {
    margin-top: -32px;
    margin-right: 95px;
  }

  .u-section-111 .u-group-11 {
    width: 340px;
  }
}