.u-section-1 .u-sheet-1 {
  min-height: 2685px;
}

.u-section-1 .u-text-1 {
  margin: 53px 595px 0 -23px;
}

.u-section-1 .u-list-1 {
  width: 588px;
  margin: -42px 16px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 2614px;
  grid-template-columns: 100%;
  grid-gap: 52px 52px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-23 {
  font-size: 1.125rem;
  margin: 0 180px 0 1px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  margin: 26px 180px 0 1px;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1.125rem;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 26px 454px 0 1px;
  padding: 6px 21px 6px 19px;
}

.u-section-1 .u-text-26 {
  margin: -2521px 1058px 0 -23px;
}

.u-section-1 .u-text-27 {
  margin: 16px 1058px 0 -23px;
}

.u-section-1 .u-text-28 {
  margin: 20px 1058px 0 -23px;
}

.u-section-1 .u-text-29 {
  margin: 17px 1058px 0 -23px;
}

.u-section-1 .u-text-30 {
  margin: 28px 1058px 0 -23px;
}

.u-section-1 .u-image-1 {
  width: 251px;
  height: 209px;
  margin: 1008px auto 0 268px;
}

.u-section-1 .u-image-2 {
  width: 251px;
  height: 209px;
  margin: 121px auto 0 268px;
}

.u-section-1 .u-image-3 {
  width: 251px;
  height: 209px;
  margin: -207px auto 0 268px;
}

.u-section-1 .u-image-4 {
  width: 251px;
  height: 209px;
  margin: 115px auto 0 268px;
}

.u-section-1 .u-image-5 {
  width: 251px;
  height: 209px;
  margin: 129px auto 0 268px;
}

.u-section-1 .u-image-6 {
  width: 251px;
  height: 209px;
  margin: -2525px auto 0 268px;
}

.u-section-1 .u-image-7 {
  width: 251px;
  height: 209px;
  margin: 121px auto 0 268px;
}

.u-section-1 .u-image-8 {
  width: 251px;
  height: 209px;
  margin: -207px auto 0 268px;
}

.u-section-1 .u-image-9 {
  width: 251px;
  height: 209px;
  margin: 115px auto 0 268px;
}

.u-section-1 .u-image-10 {
  width: 251px;
  height: 209px;
  margin: 129px auto 60px 268px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 470px;
    margin-left: 2px;
  }

  .u-section-1 .u-list-1 {
    width: 517px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: 120px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: -1220px;
    margin-right: 847px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 26px;
    margin-right: 850px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 26px;
    margin-right: 872px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 22px;
    margin-right: 852px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 22px;
    margin-right: 862px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 236px;
    height: 189px;
    margin-top: -308px;
    margin-left: 224px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1898px;
  }

  .u-section-1 .u-image-3 {
    width: 236px;
    height: 163px;
    margin-top: -1272px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -908px;
    margin-left: 26px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 252px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 627px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 848px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 848px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -207px;
    margin-right: 848px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -195px;
    margin-right: 848px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -598px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 227px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 447px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 758px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 758px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 758px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 758px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -1272px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -77px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -316px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 247px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 658px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 658px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 658px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 658px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 104px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 104px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 89px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-8,
.u-section-1 .u-btn-8:before,
.u-section-1 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}