.u-section-1 {
  background-image: url("");
  background-position: 50% 50%;
}


.u-section-1 .u-sheet-1 {
  min-height: 1287px;
}

.u-section-11 .u-sheet-1 {
  min-height: 687px;
}

.u-section-11 .u-pic-1{
  background-color:blue;
  background-position: 50% 50%;
}


.u-section-1 .u-group-1 {
  min-height: 1050px;
  width: 741px;
  background-image: none;
  height: auto;
  margin: 76px auto 37px;
}

.u-section-11 .u-group-1 {
  min-height: 1050px;
  width: 741px;
  background-image: none;
  height: auto;
  margin: 76px auto 37px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 75px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 75px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* margin: 20px auto 0; */
}

.course-info-class{
  margin-left: auto;
  margin-right: auto;
}

.u-section-11 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 187px;
  min-width: 142px;
  white-space: nowrap;
  text-align: left;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
}


.u-section-11 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 187px;
  min-width: 142px;
  white-space: nowrap;
  text-align: left;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}


.u-section-11 .u-icon-1 {
  height: 100%;
}


.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}


.u-section-11 .u-icon-3 {
  height: 100%;
}

/* Form Placement */

.u-section-1 .u-form-1 {
  height: 775px;
  margin: 35px 76px 0 144px;
}

.u-section-11 .u-form-1 {
  height: 775px;
  margin: 35px 76px 0 94px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-11 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-11 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-11 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-11 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-11 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-11 .u-form-group-8 {
  margin-left: 0;
}

.u-section-11 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 379px;
  }

  .u-section-1 .u-form-group-3 {
    text-align: left;
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 84px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 8px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-left: 0;
  }
}

.u-section-1 .u-social-icons-1,
.u-section-1 .u-social-icons-1:before,
.u-section-1 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-11 .u-group-1 {
    height: auto;
  }

  .u-section-11 .u-form-1 {
    width: 379px;
  }

  .u-section-11 .u-form-group-3 {
    text-align: left;
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-11 .u-group-1 {
    width: 720px;
  }

  .u-section-11 .u-form-1 {
    margin-left: 84px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-11 .u-group-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-form-1 {
    margin-left: 8px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-11 .u-group-1 {
    width: 340px;
  }

  .u-section-11 .u-form-1 {
    width: 320px;
    margin-left: 0;
  }
}

.u-section-11 .u-social-icons-1,
.u-section-11 .u-social-icons-1:before,
.u-section-11 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-11 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-11 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-11 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}



.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 80px auto 92px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 421px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 421px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 421px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 3;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 2;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 105px;
    padding-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-4 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-2 .u-btn-2 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-2 .u-btn-3 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-2 .u-btn-4 {
    padding-left: 117px;
    padding-right: 117px;
  }
}