.u-section-116 {
    min-height: 3480px;
  }
  
  .u-section-116 .u-group-1 {
    min-height: 373px;
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    background-image: none;
    margin-top: 13px;
    margin-bottom: 0;
  }
  
  .u-section-116 .u-container-layout-1 {
    padding: 0 10px;
  }
  
  .u-section-116 .u-text-1 {
    font-size: 1.875rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 23px auto 0 207px;
  }
  
  .u-section-116 .u-text-2 {
    margin: 20px 433px 0 207px;
  }
  
  .u-section-116 .u-text-3 {
    font-size: 0.875rem;
    margin: 4px auto 0 207px;
  }
  
  .u-section-116 .u-text-4 {
    font-size: 0.875rem;
    margin: 7px auto 0 298px;
  }
  
  .u-section-116 .u-text-5 {
    font-size: 0.875rem;
    margin: -25px auto 0 207px;
  }
  
  .u-section-116 .u-text-6 {
    font-size: 0.875rem;
    margin: 4px auto 0 417px;
  }
  
  .u-section-116 .u-text-7 {
    font-size: 0.875rem;
    margin: -22px auto 0 512px;
  }
  
  .u-section-116 .u-text-8 {
    font-size: 0.875rem;
    margin: -25px auto 0 236px;
  }
  
  .u-section-116 .u-icon-1 {
    width: 21px;
    height: 21px;
    margin: -24px auto 0 207px;
    padding: 0;
  }
  
  .u-section-116 .u-icon-2 {
    width: 19px;
    height: 19px;
    color: rgb(85, 96, 128) !important;
    margin: -20px auto 0 389px;
    padding: 0;
  }
  
  .u-section-116 .u-icon-3 {
    width: 19px;
    height: 19px;
    margin: -19px auto 0 484px;
    padding: 0;
  }
  
  .u-section-116 .u-group-2 {
    width: 360px;
    min-height: 342px;
    height: auto;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: -265px 25px 0 auto;
  }
  
  .u-section-116 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-116 .u-image-1 {
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-116 .u-text-9 {
    margin: 8px auto 0 60px;
  }
  
  .u-section-116 .u-btn-11 {
    font-weight: 700;
    background-image: none;
    margin: 30px auto 0;
    padding: 10px 76px 10px 75px;
    background-color: #4fb291;
  }


  
  .u-section-116 .u-group-3 {
    width: 803px;
    min-height: 648px;
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: 55px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-116 .u-text-10 {
    font-size: 2.25rem;
    margin: -1px 30px 0;
  }
  
  .u-section-116 .u-text-11 {
    line-height: 2.2;
    margin: 20px 393px 0 30px;
  }
  
  .u-section-116 .u-text-12 {
    line-height: 2.2;
    margin: -534px 0 9px 410px;
    padding-right: 25px;
  }
  
  .u-section-116 .u-text-13 {
    margin: 45px calc(((100% - 1140px) / 2) + 710px) 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-accordion-1 {
    width: 800px;
    margin: 12px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-accordion-link-1 {
    background-image: none;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: none;
    padding: 10px;
  }
  
  .u-section-116 .u-icon-4 {
    height: 20px;
    width: 20px;
  }
  
  .u-section-116 .u-accordion-pane-1 {
    min-height: 150px;
  }
  
  .u-section-116 .u-container-layout-44 {
    padding: 30px;
  }
  
  .u-section-116 .u-text-14 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-116 .u-text-15 {
    line-height: 1.8;
    margin: 20px 0 0;
  }
  
  .u-section-116 .u-accordion-link-2 {
    background-image: none;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: none;
    padding: 10px;
  }
  
  .u-section-116 .u-icon-5 {
    height: 20px;
    width: 20px;
  }
  
  .u-section-116 .u-accordion-pane-2 {
    min-height: 150px;
  }
  
  .u-section-116 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-116 .u-text-16 {
    line-height: 1.8;
    margin: 0;
  }
  
  .u-section-116 .u-accordion-link-3 {
    background-image: none;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: none;
    padding: 10px;
  }
  
  .u-section-116 .u-icon-6 {
    height: 20px;
    width: 20px;
  }
  
  .u-section-116 .u-accordion-pane-3 {
    min-height: 150px;
  }
  
  .u-section-116 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-116 .u-text-17 {
    line-height: 1.8;
    margin: 0;
  }
  
  .u-section-116 .u-text-18 {
    font-weight: 700;
    margin: 55px calc(((100% - 1140px) / 2) + 804px) 0 calc(((100% - 1140px) / 2));
    padding: 10px;
  }
  
  .u-section-116 .u-text-19 {
    line-height: 2.2;
    margin: 20px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-text-20 {
    font-weight: 700;
    margin: 55px calc(((100% - 1140px) / 2) + 804px) 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-text-21 {
    margin: 20px calc(((100% - 1140px) / 2) + 340px) 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-text-22 {
    font-weight: 700;
    margin: 55px calc(((100% - 1140px) / 2) + 922px) 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-text-23 {
    font-weight: 700;
    margin: 20px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-image-2 {
    width: 118px;
    height: 118px;
    background-image: url("/images/fggf.jpg");
    background-position: 50% 50%;
    margin: 16px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-116 .u-group-elements-1 {
    width: 191px;
    min-height: 69px;
    margin: -105px auto 0 calc(((100% - 1140px) / 2) + 144px);
  }
  
  .u-section-116 .u-text-24 {
    margin: 0 0 0 auto;
  }
  
  .u-section-116 .u-icon-7 {
    width: 23px;
    height: 23px;
    margin: -27px auto 0 0;
    padding: 0;
  }
  
  .u-section-116 .u-text-25 {
    margin: 9px auto 0 48px;
  }
  
  .u-section-116 .u-icon-8 {
    width: 23px;
    height: 23px;
    margin: -23px auto 0 0;
    padding: 0;
  }
  
  .u-section-116 .u-text-26 {
    margin: 70px calc(((100% - 1140px) / 2) + 340px) 20px calc(((100% - 1140px) / 2));
  }
  
  @media (max-width: 1199px) {
    .u-section-116 .u-group-1 {
      height: auto;
    }
  
    .u-section-116 .u-text-2 {
      margin-right: 233px;
    }
  
    .u-section-116 .u-text-6 {
      margin-left: 343px;
    }
  
    .u-section-116 .u-text-7 {
      margin-left: 421px;
    }
  
    .u-section-116 .u-icon-2 {
      margin-left: 320px;
    }
  
    .u-section-116 .u-icon-3 {
      margin-left: 398px;
    }
  
    .u-section-116 .u-group-2 {
      height: auto;
    }
  
    .u-section-116 .u-group-3 {
      margin-left: calc(((100% - 940px) / 2));
      height: auto;
    }
  
    .u-section-116 .u-text-13 {
      margin-right: calc(((100% - 940px) / 2) + 510px);
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-accordion-1 {
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-18 {
      margin-right: calc(((100% - 940px) / 2) + 604px);
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-19 {
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-20 {
      margin-right: calc(((100% - 940px) / 2) + 604px);
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-21 {
      margin-right: calc(((100% - 940px) / 2) + 140px);
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-22 {
      margin-right: calc(((100% - 940px) / 2) + 722px);
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-text-23 {
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-image-2 {
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-116 .u-group-elements-1 {
      margin-left: calc(((100% - 940px) / 2) + 144px);
    }
  
    .u-section-116 .u-text-26 {
      margin-right: calc(((100% - 940px) / 2) + 140px);
      margin-left: calc(((100% - 940px) / 2));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-116 .u-text-2 {
      margin-right: 13px;
    }
  
    .u-section-116 .u-text-4 {
      margin-left: 227px;
    }
  
    .u-section-116 .u-text-6 {
      margin-left: 261px;
    }
  
    .u-section-116 .u-text-7 {
      margin-left: 320px;
    }
  
    .u-section-116 .u-text-8 {
      margin-left: 180px;
    }
  
    .u-section-116 .u-icon-2 {
      margin-left: 243px;
    }
  
    .u-section-116 .u-icon-3 {
      margin-left: 303px;
    }
  
    .u-section-116 .u-group-3 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-11 {
      margin-right: 310px;
    }
  
    .u-section-116 .u-text-12 {
      margin-left: 340px;
    }
  
    .u-section-116 .u-text-13 {
      margin-right: calc(((100% - 720px) / 2) + 290px);
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-accordion-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-18 {
      margin-right: calc(((100% - 720px) / 2) + 384px);
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-19 {
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-20 {
      margin-right: calc(((100% - 720px) / 2) + 384px);
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-21 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-22 {
      margin-right: calc(((100% - 720px) / 2) + 502px);
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-text-23 {
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-image-2 {
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-116 .u-group-elements-1 {
      margin-left: calc(((100% - 720px) / 2) + 144px);
    }
  
    .u-section-116 .u-text-26 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-116 .u-text-1 {
      margin-left: 154px;
    }
  
    .u-section-116 .u-text-2 {
      margin-right: 0;
      margin-left: 154px;
    }
  
    .u-section-116 .u-text-3 {
      margin-left: 154px;
    }
  
    .u-section-116 .u-text-4 {
      margin-left: 169px;
    }
  
    .u-section-116 .u-text-5 {
      margin-left: 154px;
    }
  
    .u-section-116 .u-text-6 {
      margin-left: 194px;
    }
  
    .u-section-116 .u-text-7 {
      margin-left: 238px;
    }
  
    .u-section-116 .u-text-8 {
      margin-left: 134px;
    }
  
    .u-section-116 .u-icon-1 {
      margin-left: 154px;
    }
  
    .u-section-116 .u-icon-2 {
      margin-left: 181px;
    }
  
    .u-section-116 .u-icon-3 {
      margin-left: 225px;
    }
  
    .u-section-116 .u-group-3 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-11 {
      margin-right: 130px;
    }
  
    .u-section-116 .u-text-12 {
      margin-left: 160px;
    }
  
    .u-section-116 .u-text-13 {
      margin-right: calc(((100% - 540px) / 2) + 110px);
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-accordion-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-container-layout-44 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-116 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-116 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-116 .u-text-18 {
      margin-right: calc(((100% - 540px) / 2) + 204px);
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-19 {
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-20 {
      margin-right: calc(((100% - 540px) / 2) + 204px);
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-21 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-22 {
      margin-right: calc(((100% - 540px) / 2) + 322px);
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-text-23 {
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-image-2 {
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-116 .u-group-elements-1 {
      margin-left: calc(((100% - 540px) / 2) + 144px);
    }
  
    .u-section-116 .u-text-26 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2));
    }
  }
  
  @media (max-width: 575px) {
    .u-section-116 .u-text-1 {
      margin-left: 95px;
    }
  
    .u-section-116 .u-text-2 {
      margin-left: 95px;
    }
  
    .u-section-116 .u-text-3 {
      margin-left: 95px;
    }
  
    .u-section-116 .u-text-4 {
      margin-left: 104px;
    }
  
    .u-section-116 .u-text-5 {
      margin-left: 95px;
    }
  
    .u-section-116 .u-text-6 {
      margin-left: 119px;
    }
  
    .u-section-116 .u-text-7 {
      margin-left: 147px;
    }
  
    .u-section-116 .u-text-8 {
      margin-left: 82px;
    }
  
    .u-section-116 .u-icon-1 {
      margin-left: 95px;
    }
  
    .u-section-116 .u-icon-2 {
      margin-left: 111px;
    }
  
    .u-section-116 .u-icon-3 {
      margin-left: 139px;
    }
  
    .u-section-116 .u-group-2 {
      width: 320px;
      margin-right: 0;
    }
  
    .u-section-116 .u-image-1 {
      height: 133px;
    }
  
    .u-section-116 .u-group-3 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-10 {
      font-size: 1.875rem;
    }
  
    .u-section-116 .u-text-11 {
      margin-right: 0;
    }
  
    .u-section-116 .u-text-12 {
      margin-left: 0;
    }
  
    .u-section-116 .u-text-13 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-accordion-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-18 {
      margin-right: calc(((100% - 340px) / 2) + 4px);
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-19 {
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-20 {
      margin-right: calc(((100% - 340px) / 2) + 4px);
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-21 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-22 {
      margin-right: calc(((100% - 340px) / 2) + 122px);
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-text-23 {
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-image-2 {
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-116 .u-group-elements-1 {
      margin-left: calc(((100% - 340px) / 2) + 144px);
    }
  
    .u-section-116 .u-text-26 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2));
    }
  }